@import "tailwindcss";

@layer base {
  *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
  html { scroll-behavior: smooth; }
  body {
    background-color: #ffffff;
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }
  p, span, a, li, button, input, textarea {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  ::-webkit-scrollbar { width: 3px; }
  ::-webkit-scrollbar-track { background: #ffffff; }
  ::-webkit-scrollbar-thumb { background: #c9a84c; }
  * { -webkit-tap-highlight-color: transparent; }
}
